@using BaseIdentity.PresentationLayer.Models
@model InAccountResetPasswordViewModel



@await Component.InvokeAsync("Hero", "Reset Password")


<section class="ftco-section ftco-candidates ftco-candidates-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="team d-md-flex p-4 bg-white">

                            <form method="post" asp-action="ResetPassword" asp-controller="Account">
                                <input type="hidden" asp-for="Token" />
                                <br />
                                <label>Password</label>
                                <input type="password" asp-for="Password" class="form-control input-lg">
                                <span class="text-danger" asp-validation-for="Password"></span>
                                <br />
                                <label>Password New</label>
                                <input type="password" asp-for="NewPassword" class="form-control input-lg">
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                                <br />
                                <label>Password New Confirm</label>
                                <input type="password" asp-for="ConfirmNewPassword" class="form-control input-lg">
                                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                                <br />
                                <button type="submit" class="btn btn-success">Update</button>
                                <br />
                                <p><i class="icon icon-arrow-left"></i><a href="/Account/Index/">&nbsp; Go Back</a></p>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            @await Component.InvokeAsync("Sidebar")

        </div>
    </div>
    </section>