@model List<Category>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="category-wrap">
                    <div class="row no-gutters">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-2">
                                <div class="top-category text-center no-border-left">
                                    <a href="/Course/ByCategory/@item.CategoryID">
                                        <h3>
                                            @item.CategoryName
                                    </h3>
                                    <span class="@item.Icon"></span>
                                    <p><span class="number"></span> <span>@item.Description</span></p>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>