@model List<AppUser>

<section class="ftco-section ftco-candidates bg-primary">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section heading-section-white text-center ftco-animate">
                <span class="subheading">Lecturers</span>
                <h2 class="mb-4">Most Popular Lecturers</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-candidates owl-carousel">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <a href="/Course/CourseByLecturer/@item.Id" class="team text-center">
                                <div class="img" style="background-image: url(@item.Image);"></div>
                                <h2>@item.Name @item.Surname </h2>
                                <span class="position">@item.About</span>
                            </a>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</section>