<div class="sidebar-box bg-white p-4 ftco-animate">
    @*<h3 class="heading-sidebar">Total Price</h3>*@
    <div class="border border-green p-4">

        <span class="badge badge-success" style=" font-size:200% "> <span class="icon-money" style="font-size: 200%;"></span> &nbsp;  @ViewBag.Total</span>
    </div>
</div>
