@using BaseIdentity.PresentationLayer.Models
@model ForgotPasswordModel

@await Component.InvokeAsync("Hero", "Forgot Password")

<br />
<br />
<form asp-action="ForgotPassword" align="center">
    <h1>Forgot Password</h1>
    <br />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Email" align="center" style="width:230px" class="form-group" type="text" placeholder="Email" />
        <span asp-validation-for="Email" align="center" class="text-danger"></span>
    </div>
    <div class="form-group" align="center">
        <input type="submit" value="Submit" align="center" class="btn btn-primary" />
    </div>
</form>

