@model AppUser

@{
    Layout = "~/Views/Shared/_AreaLayout.cshtml";
}



<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1>  Edit </h1>
            <p class="card-description">
                User
            </p>
            
        </div>
    </div>
</div>


