<!--model List<Course>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 pr-lg-5">
                <div class="row justify-content-center pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <span class="subheading">Recently Added Courses</span>
                        <h2 class="mb-4">Featured Courses For This Week</h2>
                    </div>
                </div>
                <div class="row">
                    foreach (var item in Model)
                    {
                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">item.Level</span>
                                        <h2 class="mr-3 text-black"><a href="~/tema/#">item.Title</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        if (item.Instructor != null)
                                        {
                                            <div class="mr-3"><span class="icon-layers"></span> <a href="~/tema/#">item.Instructor.Name item.Instructor.Surname</a></div>

                                        }
                                        <div><span class="icon-my_location"></span> <span>item.Rank</span></div>
                                    </div>
                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href="~/tema/#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href="~/tema/job-single.html" class="btn btn-primary py-2">Enroll</a>
                                </div>
                            </div>
                        </div>--><!-- end -->
                    <!--}



                </div>
            </div>
            <div class="col-lg-3 sidebar">
                <div class="row justify-content-center pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h2 class="mb-4">Top Recruitments</h2>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="">
                        <a href="~/tema/#" class="company-wrap"><img src="~/tema/images/company-1.jpg" class="img-fluid" alt="Colorlib Free Template"></a>
                        <div class="text p-3">
                            <h3><a href="~/tema/#">Company Company</a></h3>
                            <p><span class="number">500</span> <span>Open position</span></p>
                        </div>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="">
                        <a href="~/tema/#" class="company-wrap"><img src="~/tema/images/company-2.jpg" class="img-fluid" alt="Colorlib Free Template"></a>
                        <div class="text p-3">
                            <h3><a href="~/tema/#">Facebook Company</a></h3>
                            <p><span class="number">700</span> <span>Open position</span></p>
                        </div>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="">
                        <a href="~/tema/#" class="company-wrap"><img src="~/tema/images/company-3.jpg" class="img-fluid" alt="Colorlib Free Template"></a>
                        <div class="text p-3">
                            <h3><a href="~/tema/#">IT Programming INC</a></h3>
                            <p><span class="number">700</span> <span>Open position</span></p>
                        </div>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="">
                        <a href="~/tema/#" class="company-wrap"><img src="~/tema/images/company-4.jpg" class="img-fluid" alt="Colorlib Free Template"></a>
                        <div class="text p-3">
                            <h3><a href="~/tema/#">IT Programming INC</a></h3>
                            <p><span class="number">700</span> <span>Open position</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->

