@model Comment

<head>
    <style>
        input[type="text"]:hover,
        input[type="email"]:hover,
        input[type="url"]:hover,
        textarea:hover {
            border: 2px solid orange;
        }

      .animated_rainbow_2 {
    font-size: 20px;
 
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

@@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}
        



    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
@if (User.Identity.IsAuthenticated == true)
{
    <form id="form">
        <div class="form-group">

            <input type="text" class="form-control" id="name" name="" value="@ViewBag.user.Id" hidden>
        </div>
        <div class="form-group">
            <label for="name">Name *</label>
            <input type="text" class="form-control" id="name" value="@ViewBag.user.Name" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control" id="email" value="@ViewBag.user.Email" readonly>
        </div>
        @*<div class="form-group">
                <label for="website">Website</label>
                <input type="url" class="form-control" id="website" >
            </div>*@

        <div class="form-group">
            <label for="messageforcomment">Message</label>
            <textarea name="Text" id="messageforcomment" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
        </div>

    </form>
    <div id="message" class="animated_rainbow_2"></div>

        }
        else
        {
        <h4>You must be logged in to post a comment.</h4>
        }


        <script>$(document).ready(function () {
                $('form').submit(function (event) {
                    debugger
                    event.preventDefault();

                    var url = window.location.href;
                    var courseId = url.substring(url.lastIndexOf('/') + 1);

                    //  var name = $('#name').val();
                    //  var email = $('#email').val();
                    var message = $('#messageforcomment').val();

                    $.ajax({
                        type: 'POST',
                        url: '/Comment/MakeAComment/',
                        data: { Text: message, Id: courseId },
                        success: function (data) {
                            $('#messageforcomment').val('');
                            $('#message').html("Comment successfully send.");
                            setTimeout(function () {
                                $('#message').fadeOut();
                            }, 3000);
                            $('#message').fadeIn();
                        },
                        error: function (xhr, status, error) {
                            // Handle error here
                        }
                    });
                });
            });</script>
