@model Comment

<head>
    <style>
        input[type="text"]:hover,
        input[type="email"]:hover,
        input[type="url"]:hover,
        textarea:hover {
            border: 2px solid orange;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
@if (User.Identity.IsAuthenticated == true)
    {
<form id="form">
    <div class="form-group">
       
        <input type="text" class="form-control" id="name" name="" value="@ViewBag.user.Id" hidden>
    </div>
    <div class="form-group">
        <label for="name">Name *</label>
        <input type="text" class="form-control" id="name" value="@ViewBag.user.Name" readonly>
    </div>
    <div class="form-group">
        <label for="email">Email *</label>
        <input type="email" class="form-control" id="email" value="@ViewBag.user.Email" readonly>
    </div>
    @*<div class="form-group">
            <label for="website">Website</label>
            <input type="url" class="form-control" id="website" >
        </div>*@

    <div class="form-group">
        <label for="messageforcomment">Message</label>
        <textarea name="Text" id="messageforcomment" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
    </div>

</form>
    }
    else
    {
<h4>You must be logged in to post a comment.</h4>
    }


<script>
    $(document).ready(function () {
        $('form').submit(function (event) {
            debugger
        event.preventDefault();

        var url = window.location.href;
        var courseId = url.substring(url.lastIndexOf('/') + 1);

        var name = $('#name').val();
        var email = $('#email').val();
        var message = $('#messageforcomment').val();

        $.ajax({
            type: 'POST',
            url: '/Comment/MakeAComment/',
            data: { Text: message, Id: courseId },
            success: function (data) {
                // Do something here on successful submission
            },
            error: function (xhr, status, error) {
                // Handle error here
            }
        });
    });
});

</script>