@model AppUser

@await Component.InvokeAsync("Hero", "Email Confirm")

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-8 mb-5">

                <form method="post" class="p-5 bg-white">
                    <h1>Code Confirm</h1>
                    <div class="row form-group mb-5">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">E-Mail</label>
                            <input type="text" id="fullname" class="form-control" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-group mb-5">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">MailCode</label>
                            <input type="password" id="fullname" class="form-control" asp-for="MailCode">
                            <span asp-validation-for="MailCode" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Approve" class="btn btn-primary  py-2 px-5">
                        </div>
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>

                </form>
            </div>
            @await Component.InvokeAsync("Sidebar")

        </div>
    </div>
</section>
