@model AppUser


<div class="user-profile">
    <div class="user-image">
        <img src="~/UserImage/@Model.Image">
    </div>
    <div class="user-name">
        @Model.Name @Model.Surname
    </div>
    <div class="user-designation">
        @Model.UserName
    </div>
</div>