@model AppUser

@await Component.InvokeAsync("Hero", "Login")




<section class="ftco-section bg-light">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-8 mb-5">
                <form method="post" class="p-5 bg-white">
                    <h1>Login</h1>
                    <div class="row form-group mb-5">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Username</label>
                            <input type="text" id="fullname" class="form-control" asp-for="UserName">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-group mb-5">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Password</label>
                            <input type="password" id="fullname" class="form-control" asp-for="PasswordHash">
                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        </div>
                    </div>

                    <p class="mb-4"><a href="/Password/ForgotPassword/"> <span class="icon icon-key"></span> Forgot my password</a></p>

                    <p class="mb-4"><a href="/Register/Index/"> <span class="icon icon-user"></span> Don't have account</a></p>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Login" class="btn btn-primary  py-2 px-5">
                        </div>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </form>
            </div>

            <div class="col-lg-4">
                <div class="p-4 mb-3 bg-white">
                    <h3 class="h5 text-black mb-3">Contact Info</h3>
                    <p class="mb-0 font-weight-bold">Address</p>
                    <p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>

                    <p class="mb-0 font-weight-bold">Phone</p>
                    <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

                    <p class="mb-0 font-weight-bold">Email Address</p>
                    <p class="mb-0"><a href="#"><span class="__cf_email__" data-cfemail="671e081215020a060e0b2703080a060e094904080a">[email&#160;protected]</span></a></p>

                </div>

                <div class="p-4 mb-3 bg-white">
                    <h3 class="h5 text-black mb-3">Admin</h3>
                    <p>Admin or Premium User?</p>
                    <p><a href="/Admin/Home/Index/" class="btn btn-primary  py-2 px-4">Go</a></p>
                </div>
            </div>
        </div>
    </div>
</section>